.CartTable-bar {
    // width: 90%;
    height: 40px;
    background: #661F1E;
    color: white;
    display: flex;
    align-items: center;
    
}

.CartTable-table {
    border: 1px solid #661F1E;
    height: 250px;
    display: flex;
    align-items: center;
}

.CartTable-img {
    width: 150px;
    height: 100%;
}

.cart-btn {
    width: 150px;
    font-size: 16px;
}