.Products {
  max-width: 1420px;
  display: flex;
  padding-top: 67px;
  .Product-list {
    max-width: 1120px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    .Product-list-card {
      margin-left: 80px;
    }
  }
  
}