.ProductList-bookname {
  color: #661f1e;
  font-weight: bolder;
}

.ProductList-author {
  color: #c0724a;
}

.ProductList-card {
  // background:pink;
  height: 540px;
  text-align: center;
}

.ProductList-card-img-top {
  // background: rgb(186, 149, 155);
  height: 320px;
}

.ProductList-text-decoration {
  text-decoration: none;
}

.ProductList-card-body {
  height: 160px;
  // border-radius:  0 0 5px 5px;
}

//搜尋書名的輸入框
.ProductList-SearchBookNameBox {
  width: 200px;
  border: #661f1e 2px solid;
  border-radius: 5px;
}

//價格及出版社dropdown 手機版使用
.ProductList-select-dropdown {
  display: none;
}

@media (max-width: 600px) {
  //最上面分類篩選區
  .ProductList-showTopCategory {
    display: none;
  }

  //側邊篩選欄
  .ProductList-showSelect {
    display: none;
  }
  //商品卡片
  .ProductList-card-outer {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 360px;
    margin-top: -10px;
  }

  .ProductList-card {
    height: 200px;
    background: white;
    border: none;
    text-align: center;
  }
  .ProductList-card-img-top {
    height: 200px;
    width: 160px;
  }
  .card-body {
    background: white;
    height: 120px;
    width: 200px;
  }
  .ProductList-bookname {
    font-size: 16px;
  }

  .ProductList-author {
    font-size: 16px;
  }

  .ProductList-mobile-btn {
    // background:yellow;
    font-size: 10px;
  }

  .ProductList-display-mobile-position {
    // background: #000;
    display: flex;
    justify-content: center;
  }

  //價格及出版社dropdown 手機版使用
  .ProductList-select-dropdown {
    display: flex;
    justify-content: end;
    margin-right: 75px;
  }
}
