.product-select {
  width: 200px;
  margin-bottom: 20px;
}

.Select-title {
  padding-bottom: 10px;
  border-bottom: 2px dotted #661f1e;
  margin-bottom: 20px;
}

// 為什麼要寫在global才有效??
.product-title {
  background: #661f1e;
  color: white;
}

.product-select a {
  text-decoration: none;
}

h3 {
  color: #661f1e;
}
