@import '../style/global.scss' ;

.cover-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.member-item{
    width: 75px;
    height: 75px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.member-pic{
    width: 150px;
    margin-left: 100px;
}

.member-information{
    list-style: none;
    font-weight: 600;
    margin-left: 50px;;
}

 .member-word{
    color: #C0724A;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    flex-direction: column;
}

.member-container{
    margin-top: 50px;
    margin-bottom: 50px;
    ul{
        .member-category{
            .product-category{
                .member-icon{
                    width: 35px;
                    margin: 0 auto;
                    flex-direction: column;
                    & :hover{
                        filter: invert(100%)
                    }
                }
            }
        }
    }
}

.member-bar-desktop{
    display:flex;
    justify-content: center;
    margin:auto;
    margin-top: 80px;
    margin-left: 15px;

    img{
        margin:auto;
    }
    @media(max-width:600px){
        display:none;
    }
}
.member-bar{
    display:none;
    justify-content: center;
    margin:auto;
    margin-top: 40px;
    margin-left: 15px;

    img{
        margin:auto;
    }
    @media(max-width:600px){
        display:flex;
    }
}

.progressbar{
    width: 50%;
}
@media (min-width: 600px){
    .progressbar{
        // position: relative;
        // top: -15px;
        // left: 600px;
    }  
}

@media (max-width: 600px) {
    .member-header{
       flex-direction: column;
    }

    .member-pic{
        width: 150px;
        margin-left: -45px
    }

    .member-information{
        font-size: 14px;
        line-height: 40px;
    }

    .member-information-3{
        margin-top: -135px;
    }

    .member-information-1{
        margin-top: -215px;
    }

    .member-info{
        margin-left: 75px;
    }


    .progressbar{
        width: 90%;
        margin-left: 27px;
        margin-top: 40px;
    }

    .member-container{
        margin-top: -1px;
    }

}



