:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*顏色*/
  --color1: #661f1e;
  --color2: #df9d6e;
  --color3: #efd3ce;
  --color4: #f5f5f5;
  --color5: #c0724a;
  --color6: #d9d9d9;
  /*距離*/
  --1: 5px;
  --2: 10px;
  --3: 15px;
  --4: 20px;
  --5: 25px;
  --6: 30px;
  --7: 35px;
  --8: 40px;
}

.headers {
  max-height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background: var(--color1);
}

.iconStart {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: start; */
  margin-left: -32px;
  list-style: none;
}

.iconLi {
  padding: var(--2) var(--2) 0 var(--2);
  margin: 0 var(--3);
  border-radius: 20px;
}

.iconLi:hover {
  background: var(--color3);
}

.iconLi p {
  color: var(--color2);
  padding-top: var(--2);
}

.iconLi a {
  text-decoration: none;
}

.iconButton {
  background: var(--color1);
  border: none;
  color: var(--color2);
}

.iconButton:hover {
  background: var(--color3);
}

.title {
  color: var(--color3);
  justify-content: center;
  padding-top: var(--4);
}

.iconEnd {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
}

.iconEndButton {
  background: var(--color1);
  border: none;
  color: var(--color2);
  padding: 10px 10px 0 10px;
  margin: 0 var(--3);
  border-radius: 20px;
}

.iconEndButton:hover {
  background: var(--color3);
}

.iconEndButton p {
  padding-top: var(--2);
}

.footer {
  text-align: center;
  color: var(--color4);
  background: var(--color1);
}

.a2 {
  font-size: 30px;
  margin: 0 auto;
}

.book {
  position: relative;
}

.book button {
  border: none;
  padding: var(--2) var(--2) 0 var(--2);
  background: var(--color1);
  border-radius: 20px;
}

.book button:hover {
  background: var(--color3);
}

.book p {
  color: var(--color2);
  padding-top: var(--2);
}

.book h5 {
  color: var(--color5);
}

.book div {
  position: absolute;
  background: var(--color3);
  margin-top: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.5s ease;
  z-index: 1;
}

.book li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: var(--2);
}

.book li:hover {
  background: var(--color6);
}

.book a {
  color: var(--color2);
  text-decoration: none;
}

.book button:focus + div {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
.pricon {
  width: 40px;
  margin: 0 var(--2);
}
