.ProductCard {
  width: 150px;
  text-align: center;
  cursor: pointer;
  .ProductCard-img {
    width: 200px;
    height: 255px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .ProductCard-name{
    color: #612021;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .ProductCard-author {
    color: #C0724A;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .ProductCard-price {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
  }
}

@media screen and (max-width: 768px) {
  .ProductCard {
    width: 168px;
    .ProductCard-img {
      width: 120px;
      height: 200px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}