.item{
    list-style: none;
    width: 270px;
    height: 50px;
    border: 1px solid burlywood;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px;
    text-decoration: none; //??為何
}

.icon {
    margin-right: 20px;
    width: 30px;
}