@import '../../../style/global.scss' ;

.Market-slick-space{
    margin-right:5px;
    .product-category{
        padding:15px 65px;
    }
}
.Topcategory-innerbox {
    padding-top: 10px;
    width: 40px;
    height: 130px;
    border: 2px solid #C0724A;
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-right: 10px;
}

.Topcategory-img {
    margin: 0 auto;
}


