@import '../../../style/global.scss' ;

.Market-slick-space{
    margin-right:5px;
    .product-category{
        padding:15px 65px;
    }
}
.Topcategory-innerbox {
    padding-top: 10px;
    width: 40px;
    height: 130px;
    border: 2px solid #C0724A;
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-right: 10px;
}

.Topcategory-img {
    margin: 0 auto;
}

//手機版分類篩選
.TopCategory-mobile-version {
    display: none;
}

@media (max-width: 600px) {
   .TopCategory-mobile-version {
    display: block;
    background: #EFD3CE;
   }
   .TopCategory-mobile-version-text {
    font-size: 10px;
    // background: #EFD3CE;
   }
//    .testtest {
//     width: 100px;
//     height: 40px;
//     background: #000;
//    }
}
