
// color
$primary: #661F1E;
$secondary:#C0724A;
$warning:#DF9D6E;
$success: #D99282;
$info:#B48C8C;
$danger:#BF245D;
$light:#EFD3CE;
$dark: #8D4343;
// body
$body-bg:#F5F5F5;
$body-color: $primary;
// link-color
$link-color:#D99282;
$link-hover-color: #F5F5F5;


@import "../../node_modules/bootstrap/scss/bootstrap";
.btn-primary{
  border-radius: 0;
  &:hover{
    border:1px solid $primary;
    background:$body-bg;
    color:$primary;
  }
}
.btn-primary-reverse{
  border-radius: 0;
  background:$body-bg;
  border:1px solid $primary;
  color:$primary;
  &:hover{
    border:1px solid $primary;
    background:$primary;
    color:$body-bg;
  }
  &:active{
    border-radius: 0;
    background:rgba(0,0,0,0);
    border:1px solid $primary;
  }
}
.btn-light{
  color:#661F1E;
  &:hover{
    border:1px solid $primary;
    background:$body-bg;
    color:$primary;
  }
}
.btn-danger{
  border-radius:20px;
  color:#F5F5F5;
  padding:15px;
  &:hover{
    border:1px solid $success;
    background:$success;

  }
}
.product-category{
  background:$body-bg;
  border:3px solid $secondary;
  border-radius:20px;
  color:$secondary;
  padding:15px 30px;
  &:hover{
    border:3px solid $secondary;
    background:$secondary;
    color:$body-bg;
    svg{
      fill:$body-bg;
      path{
        fill:$body-bg;
      }
    }
  }

  svg{
    fill:$secondary;
    path{
      fill:$secondary;
    }
  }
}
.product-category-active{
  background:$secondary;
  border:3px solid $secondary;
  border-radius:20px;
  color:$body-bg;
  padding:15px 30px;
  svg{
    fill:$body-bg;
  }
  &:hover{
    border:3px solid $secondary;
    background:$secondary;
    color:$body-bg;
  }
}

.toggle-primary{
  padding:10px;
  border:2px solid $info;
  border-radius: 30px;
  background:$info;
  color:$body-bg;
  .toggle-inside{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background:$body-bg;

  }
  
}
.toggle-primary-active{
  padding:10px;
  border:2px solid $primary;
  border-radius: 30px;
  background:$body-bg;
  color:$primary;
  .toggle-inside{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background:$primary;

  }
  
}

