:root {
  box-sizing: border-box;
}

.body {
  background: #5d789d;
}

.main {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.home-container {
  display: flex;
  width: 90vw;
}

.panel {
  background-image: url(../img/tumblr_1280-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 20px;
  flex: 0.5;
  position: relative;
  transition: flex 0.5s ease-in;
  color: #fff;
  cursor: pointer;
}

.panel h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  color: #d9802c;
}

.panel img {
  position: absolute;
  top: 80px;
  left: 20px;
  opacity: 1;
}

.panel.active {
  flex: 5;
}

.panel.active h2 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.5s;
}

.panel.active img {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.5s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}