@import './global.scss';



// .homepage-test-collection{
//     overflow: hidden;
//     background-image: url(../img/book.jpg) ;
//     width: 100vw;
//     height:100vh;
// }


.homepage-collections .homepage-bg{
    // background-position: left top;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .8;
    filter: brightness(50%);
}


.books{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .8;
    filter: brightness(50%);
}

.novel{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .8;
    filter: brightness(50%);
}

.comic{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .8;
    filter: brightness(50%);
}

.magazine{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .8;
    filter: brightness(50%);
}
