
@import './global.scss';

.cover-fit{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar{
  display:flex;
  height: 110px;
  margin:0px;
  background: $primary;
  @media(max-width:$mobile-break-point){
    display:none !important;
  }
}

.navbar-links{
  margin-left: 230px;
}


.menu{
  display:none;
  font-size: $h4-font-size;
  .selected{
    color:red;
  }
  font-weight: bold;
}

.menu-1{
  margin-left: 230px;
}

.menu-home{
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  padding-top: 3px;
}

.menu-list{
  text-decoration: none;
  list-style: none;
}

.ebooklogo{
  width: 80px;
}

.navbar-login{
  width: 35px;
}

.navbar-favoritelist{
  width: 32px;
}

.navbar-shoppingcart{
  width: 35px;
}

.navbar-search{
  width: 34px;
}

// Navbar-Search 搜尋

.searchBox {
  background: #803E3D;
  height: 38px;
  border-radius: 40px;
  margin-top: 4px;
}

.searchBox:hover > .searchInput {
  width: 180px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #803E3D;
  border-radius: 50%;
}

.searchButton {
  float: right;
  width: 38px;
  height: 38px;
  // border-radius: 50%;
  background: #612021;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  // background: #803E3D;
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  font-size: 20px;
  transition: 0.4s;
  line-height: 35px;
  width: 0px;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

.menu-2{
  margin-left: 580px;
}

.menu-2-icon{
  padding: 8px;
}

.menu-2-2{
  padding-left: 12px;
}

.navbar-separate{
  color: #D99282;
  padding-top: 8px;
}

// mobile


.navbar-mobile{
  display:none !important;
  
  @media(max-width:$mobile-break-point){
  display:flex !important;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  margin:0px;
  background: $primary;
  }

  .Navbar-hamburger{
    & :hover{
      cursor: pointer;
    }
    .Navbar-hamburger-items{
    margin: 6px 0px;    
    width: 35px;
    height: 6px;
    border-radius: 6px;
    background:$success;
  }

  }
  .Navbar-hamburger-active{      
    & :hover{
        cursor: pointer;
      }
    .Navbar-hamburger-items{

      margin: 6px 0px;    
      width: 35px;
      height: 6px;
      border-radius: 6px;
      background:$success;
      transform: rotate(135deg) translateY(-9px);

      
    }
    .Navbar-hamburger-items-flip{

      margin: 6px 0px;    
      width: 35px;
      height: 6px;
      border-radius: 6px;
      background:$success;
      transform: rotate(45deg) translateY(-9px);
      
    }
  }

  .Navbar-logo-mobile{
    width: 60px;

  }
}

.Navbar-active{
  z-index:1;
  position:fixed;
  top:0;
  width: 70%;
  height: 100vh;
  background:$dark;
  color:$success;
  border-right: 1px solid $primary;

  .Navbar-hamburger-active{
    z-index:2;
    position:absolute;
    top:20px;
    right:20px;      
    & :hover{
        cursor: pointer;
      }
    .Navbar-hamburger-items{

      margin: 6px 0px;    
      width: 35px;
      height: 6px;
      border-radius: 6px;
      background:$success;
      transform: rotate(135deg) translateY(-9px);

      
    }
    .Navbar-hamburger-items-flip{

      margin: 6px 0px;    
      width: 35px;
      height: 6px;
      border-radius: 6px;
      background:$success;
      transform: rotate(45deg) translateY(-9px);
      
    }
  }
  ul{

    // transform:translateY(80px);
    list-style: none;
    padding:0px;
    text-decoration: none;
    
  }
  li{
    width:100%;
    padding-left: 15px;
    margin-bottom: 10px;
    background:$primary;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .Navbar-login-area{
    display:flex;
    align-items: center;
    padding:20px;
    text-decoration: none;
    font-size: 2rem;

    
  }

}