@import './global.scss';

.orderCardBackground {
  background: $primary;
}

//ScrollToTop
.orderText {
  color: $primary;
}

.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: #661f1e;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #fff;
  color: #661f1e;
  border: 2px solid #661f1e;
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

//Book Cover

  // height: auto !important;
  @media (max-width: 600px) {
    .book-cover {
      display:none;
    }
}


//Date Pick
.date-pick {
  border-color: $primary;
}

//Mobile-card
@media (max-width: 600px) {
  .mobile-card {
    width: 240px !important;
    margin: auto;
  }
  .mobile-search {
    margin: auto !important;
  }
  .order-mobile-text{
    display: flex;
  justify-content: center;
  
  }
}

// order-tab
.Order-tabs{
  
  .tab_background {
  padding: 15px;
  width: 105px;
  margin-left: 15px;
  margin-right:15px;
  border:1px solid $primary;
  border-radius: 12px 0 12px 0;
  transform: skew(-25deg);
  transition:.4s;
  }
.tab_background:active{
    color: #661f1e;
  }
.btn_word{
  
  transform: skew(20deg);
}
.tab_fix {
  margin-left: -1px;
}
}


.o-button{
  border: 2px solid $primary;
  border-radius: 5px;
}

@media (min-width: 600px) {
.chat-icon{
  position: relative;
  bottom: 200px;
  right: -230px;
}
.detail-icon{
  position: relative;
  right: -370px;
}
.o-back{
  position: relative;
  top: 100px;
}
}

<<<<<<< HEAD
.order-BtnRadius{
  // border: 1px solid #661f1e;
  border-radius: 5px !important;
}
=======


.order-bread :hover {
  color: #BF245D;
  }
>>>>>>> main
