.ProductInfo {
  .ProductInfo-img {
    width: 400px;
    height: 500px;
    box-shadow: 15px 15px 25px 0 rgba($color: #000000, $alpha: 0.25);
  }
  .ProductInfo-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
  }
  .ProductInfo-subTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #8d4343;
    margin-bottom: 10px;
  }
  .ProductInfo-bookInfo {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 10px;
    span {
      color: #bf245d;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
    }
    .ProductInfo-bookInfo-price {
      font-size: 40px;
    }
  }
  a {
    color: none;
    text-decoration: none;
  }
  p {
    color: #000000;
  }
}

@media screen and (max-width: 768px) {
  .ProductInfo {
    .ProductInfo-img {
      width: 250px;
      height: 350px;
      margin-bottom: 60px;
    }
  }

  .ProductInfo-btn-position {
    width: 450px;
  }

  .ProductInfo_img_position {
    display: flex;
    justify-content: center;
  }
}

//後來加的
.ProductInfo-font-weight {
  font-weight: 600;
}
